@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --background-l: #ecf1f2;
  --background-l-2: #f3f4f6;
  --primary-text-l: #344142;
  --secondary-text-l: rgba(52, 65, 66, 0.5);
  --link-text-l: #1677ff;
  --color-l: #3fb44b;
  --color-l-2: #a1ec02;
  --color-l-3: #006941;
  --mess-l: #d2e5d3;
  --mess-l-2: #e4ffe7;
  --primary-color-l: #ffffff;
  --button-l: #e0ffe0;
  --error-l: #e3223c;
  --divider-l: rgba(0, 0, 0, 0.1);
  --tiertiary-input-color-l: #e5e6e8;
  --frame-blur-l: rgba(40, 40, 40, 0.7);

  /* Dark mode */
  --background-d: #151e2f;
  --primary-text-d: #daefff;
  --primary-text-d-2: #ffffff;
  --secondary-text-d: rgba(218, 239, 255, 0.5);
  --link-text-d: #5bb6e8;
  --mess-d: #44722b;
  --primary-color-d: #2f3643;
  --error-d: #ff7d7f;
  --divider-d: #6b6c6d;
  --account-d: #374665;
  --frame-blur-d: rgba(56, 56, 56, 0.6);
}

@layer base {
  body {
    @apply min-h-screen main-bg tracking-[0.3px] overflow-x-hidden;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .text-balance {
    text-wrap: balance;
  }

  .shadow-btn {
    @apply shadow-[0_4px_15px_0_#0000000F];
  }

  .shadow-block {
    @apply shadow-[0_4px_24px_0_#0000002E];
  }

  .badge-error {
    @apply [&>sup]:bg-error_l dark:[&>sup]:bg-error_d [&>sup]:text-primary_color_l;
  }

  .text-link {
    @apply text-sm cursor-pointer hover:underline;
  }

  .main-bg {
    @apply bg-background_l dark:bg-background_d text-primary_text_l dark:text-primary_text_d;
  }

  /* Sidebar */
  .sidebar-item {
    @apply relative min-h-11 font-medium text-primary_text_l dark:text-primary_text_d 
    [&.ant-menu-item-selected]:bg-background_l dark:[&.ant-menu-item-selected]:bg-background_d !pl-2;
  }

  .sidebar-item-collapse {
    @apply [&>li>svg]:absolute [&>li>svg]:top-1/2 [&>li>svg]:left-1/2 [&>li>svg]:-translate-x-1/2 [&>li>svg]:-translate-y-1/2;
  }

  .sidebar-item-dropdown {
    @apply relative font-medium [&>div]:!pl-2 dark:[&>div]:text-primary_text_d [&>div>span]:text-primary_text_l 
    dark:[&>div>span]:text-primary_text_d [&>div]:min-h-11 [&>ul]:bg-transparent 
    [&.ant-menu-submenu-selected>div]:text-primary_text_l dark:[&.ant-menu-submenu-selected>div]:text-primary_text_d 
    [&.ant-menu-submenu-selected>div]:bg-background_l dark:[&.ant-menu-submenu-selected>div]:bg-background_d 
    [&>ul>li]:!pl-5;
  }

  .sidebar-item-dropdown-collapse {
    @apply [&>li>div>svg]:absolute [&>li>div>svg]:top-1/2 [&>li>div>svg]:left-1/2 [&>li>div>svg]:-translate-x-1/2 [&>li>div>svg]:-translate-y-1/2;
  }

  .slider-video-custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
  }

  .slider-video-custom::-moz-range-thumb {
    width: 7px;
    height: 7px;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
  }
}
