@import './custom/button.css';
@import './custom/collapse.css';
@import './custom/date-picker.css';
@import './custom/drawer.css';
@import './custom/form.css';
@import './custom/input.css';
@import './custom/modal.css';
@import './custom/popover.css';
@import './custom/segmented.css';
@import './custom/select.css';
@import './custom/spin.css';
@import './custom/table.css';
@import './custom/upload.css';
@import './custom/notification.css';

/* Common */
.ant-input,
.ant-input-affix-wrapper,
.ant-input-number,
.ant-select,
.ant-picker {
  @apply dark:!border-divider_d/40 rounded-lg;
}

.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-disabled {
  @apply !bg-tiertiary_input_color_l/30 dark:!bg-disable_d/50;
}
/* Custom */
.popup-overflow-y-hidden,
.comment-overflow-y-hidden {
  overflow-y: hidden !important;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
}

.marquee div {
  display: inline-block;
  padding-left: 100%;
  transform: translateX(0);
}
@keyframes marqueeAnimation {
  25% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
