.comment-item .comment-avatar {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.comment-child .comment-avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}
