/* Table */
.ant-table-container {
  border: 0 !important;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child,
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  @apply !rounded-s-none !rounded-e-none;
}

.ant-table-wrapper .ant-table .ant-table-thead .ant-table-cell {
  @apply bg-tiertiary_input_color_l dark:bg-background_d border-b-0 uppercase dark:text-primary_text_d;
}

.ant-table-wrapper .ant-table .ant-table-thead .ant-table-cell::before {
  display: none;
}

.ant-table-wrapper .ant-table .ant-table-tbody .ant-table-cell {
  @apply border-b-0 dark:text-primary_text_d;
}

.ant-table-wrapper .ant-table .ant-table-tbody .ant-table-cell.ant-table-cell-row-hover {
  @apply dark:bg-background_d;
}

/* Select */
.ant-select > .ant-select-selector {
  @apply dark:!border-divider_d dark:!bg-primary_color_d !rounded-xl;
}

.ant-select > .ant-select-selector > .ant-select-selection-search,
.ant-select > .ant-select-selector > .ant-select-selection-placeholder {
  @apply !text-sm dark:text-primary_text_d dark:!text-primary_text_d/50;
}

.ant-select-selection-item,
.ant-select-arrow {
  @apply dark:!text-primary_text_d text-sm;
}

/* Dropdown */
/* .ant-select-dropdown {
  @apply dark:!bg-primary_color_d dark:!text-primary_text_d;
}

.ant-empty-description {
  @apply dark:!text-primary_text_d;
} */

/* Spin */
.ant-spin-dot-item {
  @apply !text-color_l;
}

/* Input */
.ant-input-prefix {
  margin-inline-end: 10px !important;
}

.ant-input {
  @apply !text-sm dark:!text-primary_text_d dark:placeholder:!text-primary_text_d/50;
}

/* Date picker */
.ant-picker {
  @apply w-full;
}

.ant-picker > .ant-picker-input > input {
  @apply !text-sm dark:!text-primary_text_d dark:placeholder:!text-primary_text_d/50;
}

.ant-picker > .ant-picker-input > .ant-picker-suffix > span {
  @apply dark:text-primary_color_l;
}

/* Form */
.ant-form-item-explain {
  @apply mb-3 mt-1;
}

label {
  @apply dark:!text-primary_color_l;
}

/* Segmented */
.ant-segmented {
  @apply !px-1 !py-1 !bg-primary_color_l dark:!bg-primary_color_d !rounded-[10px];
  box-shadow: 0px 4px 15px 0px #0000000f;
}

.ant-segmented-item {
  @apply !rounded-[10px] px-6 py-[2px] font-medium;
}

.ant-segmented-thumb,
.ant-segmented-item.ant-segmented-item-selected {
  @apply !rounded-[10px] !bg-color_l;
}

.ant-segmented-item.ant-segmented-item-selected .ant-segmented-item-label {
  @apply text-primary_color_l;
}

.ant-segmented-item-label {
  @apply text-[13px];
}

/* Common */
.ant-input,
.ant-input-affix-wrapper,
.ant-select,
.ant-picker {
  @apply dark:!border-divider_d;
}

.ant-collapse-header {
  @apply dark:!text-primary_text_d;
}
